form{
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: space-between;
    align-items: center;
}
label{
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 400;
    font-size: 1.4vw;
    text-decoration: none;
    margin-bottom: 1vw;
    margin-top: 1vw;
}
form button {
    background-color: #FF3131;
    height: 3.5vw;
    width: 15vw;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    border: none;
    font-size: 2vw;
    margin-top: 3vw;
}
form input{
    width: 30vw;
    height: 2vw;
    font-size: 1.2vw;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 3px;
    font-weight: 400;
}