body{
  background: rgb(0,0,0);
  color: white;
}


/* Fuentes a utilizar
font-family: 'Josefin Slab', serif; 200  Titles. Replace the Calgary
font-family: 'Montserrat', sans-serif; 300,400,500,600 NavBar. Replace the Garet
font-family: 'Noto Sans', sans-serif; 300,400,500 Paragraphs. Replace the Open Sauce
*/